@model List<ListDemo>
@{   
    ViewBag.Title = "Index";    
}
<!DOCTYPE html>
<html>
<head>
   
</head>
<body>
    <main class="container">
        <h2>@ViewData["Text"]</h2>
        <h2>Список</h2>
        <ol type="A">
            @for (int i = 1; i < 4; i++)
            {
                <li>элемент @i списка</li>
            }
        </ol>
        
        <hr />
        <h2>Форма</h2>
        <form role="form" method="post" action="#">
            <div class="row">
            <div class="col-sm-10 offset-sm-2">
                    <select asp-items="@(new SelectList(Model, nameof(ListDemo.Id), nameof(ListDemo.Name)))"
                            class="form-select" name="SelDemo"> </select>
            </div>
            </div>
            <!-- Checkboxes -->
            <div class="row">
                <div class="col-sm-10 offset-sm-2">
                    <div class="form-check">
                        <input class="form-check-input" name="checkBox1" type="checkbox" id="checkBox1">
                        <label class="form-check-label" for="checkBox1">Чек-бокс 1</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="checkBox2" type="checkbox" id="checkBox2">
                        <label class="form-check-label" for="checkBox2">Чек-бокс 2</label>
                    </div>
                </div>
            </div>

            <!-- Radiobuttons -->
            <fieldset class="row">
                <legend class="col-form-label col-sm-2 pt-0"></legend>
                <div class="col-sm-10">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gridRadio" id="gridRadio1" value="option1" checked>
                        <label class="form-check-label" for="gridRadio1">Радио-1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gridRadio" id="gridRadio2" value="option2">
                        <label class="form-check-label" for="gridRadio2">Радио-2</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gridRadio" id="gridRadio3" value="option3">
                        <label class="form-check-label" for="gridRadio3">Радио-3</label>
                    </div>
                </div>
            </fieldset>

            <!-- Login -->
            <div class="row">
                <label for="inputLogin" class="col-sm-2 col-form-label">Логин:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputLogin" name="nameLogin" placeholder="Введите имя">
                </div>
            </div>

            <!-- Password -->
            <div class="row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Пароль:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword" name="namePassword" placeholder="Введите пароль">
                </div>
            </div>

            <!-- Button -->
            <button type="submit" class="btn btn-info">Отправить</button>
        </form>
    </main>
  
</body>
</html>